@media screen and (max-width: 480px) { 
    
    .header-content {
        flex-direction: column;
        gap: 15px;
    }

    .menu-links {
        gap: 15px;
        font-size: 18px;
    }

    .Social-containers, .links-containers {
        flex-direction: column; 
        gap: 20px; 
        margin: 20px; 
    }

    .soc1, .soc2 {
        width: 100%; 
    }

    .big {
        font-size: 24px;
    }
    .small {
        font-size: 16px;
    }

    .mt, .til {
        width: 50px; 
        height: 50px;
    }

    .Maior {
        font-size: 28px;
        margin-top: 40px;
    }
}

html, body {
    background-color: #0F2D21;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#Boilogo {
    width: 50px;
    height: 50px;
}

.bullpoint {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header {
    width: 100%;
    background-color: #325636; 
    padding: 15px 0px;
    opacity: 0.9;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;

    flex-wrap: wrap;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #000000;
    font-size: 28px;
    margin: 0;
}

.menu-links {
    display: flex;
    gap: 30px;
}

.menu-links a {
    color: #EFE9DA;
    text-decoration: none;
    font-size: 20px;
}

.menu-links a:hover {
    opacity: 0.8;
    cursor: pointer;
}

.mt {
    width: 70px;
    height: 70px;
    margin-top: 20px;
}

.soc1 {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 10px;              
}

.soc2 {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 10px;              
}

.Maior {
    font-size: 40px;
    color: #EFE9DA;
    text-align: center;
    margin-top: 60px;
}

.Social-containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4em;
    margin-top: 0px;
}

.til {
    width: 60px;
    height: 60px;
}



.links-containers {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4em;
    margin: 40px;
    max-width: 1200px;
}

.big { 

    font-size: 30px;
    color: #EFE9DA;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.small {

    font-size: 20px;
    color: #EFE9DA;
    text-align: center;
    margin-bottom: 5px;
}


