body {
    background-color: #0F2D21;
}

#Neve {
    color: #EFE9DA;
}

.Centro {
  display: flex;
  justify-content: center; /* centro horizontal */
  align-items: center; /* centro vertical */
  margin: 0;
  text-align: center;
}

#Animais {
    padding: 10px 20px;
    background-color: #B68A2C;
    max-width: fit-content;
    margin: auto;
    border-radius: 20px;
    text-align: center;
}

#Busca {
    padding: 10px 20px;
    background-color: #355E3B;
    max-width: 75%;
    border-radius: 20px;
}

#Animal {
    padding: 10px 20px;
    background-color: #B68A2C;
    max-width: 100%;
    border-radius: 20px;
    text-align: center;
}

#Vermais1 {
    max-width: 30%;
    padding: 10px 20px;
    background-color: #355E3B;
    border-radius: 20px;
    margin: 20px;
}

#Vermais2 {
    max-width: 30%;
    padding: 10px 20px;
    background-color: #355E3B;
    border-radius: 20px;
    margin: 20px;
    position: relative;
    top: -250px;
    left: 300px;
}

#Vermais3 {
    max-width: 30%;
    padding: 10px 20px;
    background-color: #355E3B;
    border-radius: 20px;
    margin: 20px;
    position: relative;
    top: -230px;
}

#Vermais4 {
    max-width: 30%;
    padding: 10px 20px;
    background-color: #355E3B;
    border-radius: 20px;
    margin: 20px;
    position: relative;
    top: -480px;
    left: 300px;
}

#forte {
    padding: 10px 20px;
    background-color: #355E3B;
    border-radius: 20px;
}

