@media screen and (max-width: 480px) {
    body {
        max-width: 100%;
        font-size: 1.0em;
    }
    
    .card-container {
        flex-direction: column;
        align-items: center;
    }
    
    .card {
        width: 90%;
        height: auto;
    }
    
    .card button {
        width: 100%;
    }
}


body {
    background-color: #0F2D21;
}



.Neve {
    color: #EFE9DA;
}

.Centro {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 0;
    text-align: center;
}


#Animais {
    padding: 10px 35px;
    width: 100%;
    background-color: #B68A2C;
    max-width: fit-content;
    margin: auto;
    border-radius: 20px;
    text-align: center;
}

#Busca {
    padding: 10px 20px;
    background-color: #355E3B;
    max-width: 75%;
    margin: auto;
    border-radius: 20px;
    
}

.grupo-busca {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#ione {
    width: 45%;
    max-width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #0F2D21;
}

#itwo {
    width: 15%;
    max-width: 480px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #0F2D21;
    
}

#ione::placeholder,
#itwo::placeholder {
    color: #ffffff;
}

#ithree {
    width: 25%;
    max-width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #B68A2C;
}

#ithree:hover {
    background-color: #917a48;
    color: #000000;
    cursor: pointer;
    transition: transform 0.3s;
    transform: scale(1.03);
}




.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 40px auto;
    max-width: 1200px;
}



.card {
    width: 260px;
    height: 220px;
    padding: 20px;
    background-color: #355E3B;
    border-radius: 20px;
    text-align: left;
    box-sizing: border-box;
    transition: transform 0.3s;


    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.card button {
    padding: 10px 20px;
    background-color: #B68A2C;
    width: 100%;
    border-radius: 20px;
    text-align: center;
    display: block;
    margin: 0 auto;
    border: none;
    font-weight: bold;
    
    
}

.card button:hover {
    background-color: #917a48;
    color: #000000;
    cursor: pointer;
    transform: scale(1.03);
}

#forte {
    padding: 10px 20px;
    background-color: #355E3B;
    border-radius: 20px;
}



