@media screen and (max-width: 480px) {
    body {
        max-width: 100%;
        font-size: 1.0em;
    }
    
    .card-container {
        flex-direction: column;
        align-items: center;
    }
    
    .card {
        width: 90%;
        height: auto;
    }
    
    .card button {
        width: 100%;
    }

    .review-card {
        width: 90%;   /* ← ESSA LINHA */
    }

    #Busca {
        flex-direction: column;
        width: 90%;
    }

    #ione, #itwo, #ithree {
        width: 100%;
    }
}


body {
    background-color: #0F2D21;
}

.menu {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.Neve {
    color: #EFE9DA;
}

.Centro {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 0;
    text-align: center;
}


#Animais {
    padding: 10px 35px;
    width: 100%;
    background-color: #B68A2C;
    max-width: fit-content;
    margin: auto;
    border-radius: 20px;
    text-align: center;
}

#Busca {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #355E3B;
    border-radius: 20px;
    width: 90%;
    max-width: 800px;
    
}

.grupo-busca {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ione {
    width: 45%;
    max-width: 100%;    
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #0F2D21;

    flex: 2;
}

#itwo {
    width: 15%;
    max-width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #0F2D21;

    flex: 1;
}

#ione::placeholder,
#itwo::placeholder {
    color: #ffffff;
}

#ithree {
    width: 25%;
    max-width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #B68A2C;

    flex: 0.8;
}

#ithree:hover {
    background-color: #917a48;
    color: #000000;
    cursor: pointer;
    transition: transform 0.3s;
    transform: scale(1.03);
}




.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 40px auto;
    max-width: 1200px;
}



.card {
    width: 500px;
    height: 400px;
    padding: 20px;
    background-color: #355E3B;
    border-radius: 20px;
    text-align: left;
    box-sizing: border-box;

    font-size: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.card button {
    padding: 15px 25px;
    background-color: #B68A2C;
    width: 100%;
    border-radius: 20px;
    text-align: center;
    display: block;
    margin: 0 auto;
    border: none;
    font-weight: bold;
    font-size: 25px;
    
    
}

.card button:hover {
    background-color: #917a48;
    color: #000000;
    cursor: pointer;
    transform: scale(1.03);
}

.review-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 40px auto;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;   /* ← ISSO AQUI */
    justify-content: center;
    gap: 2rem;
}

.review-card {
    width: 260px;
    height: 150px;
    padding: 20px;
    background-color: #355E3B;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fake.review {
  width: 100%;
  height: 14px;
  background: linear-gradient(90deg, #eee, #ddd, #eee);
  border-radius: 4px;
  animation: pulse 1.5s infinite;
}

#forte {
    padding: 10px 20px;
    background-color: #355E3B;
    border-radius: 20px;
}
